*.aux
*.log
*.pdf
!sources/*.pdf
*.synctex.gz
sources/luatex-benchmark/
prototype/tmp/
prototype/templates/*/sample-capture.json
prototype/templates/*/*.spl
__pycache__/
*.out
*.abs
*.toc
prototype/templates/*/body-live.tex
prototype/templates/*/sample-live*
prototype/templates/*/article-marked.*
prototype/templates/*/article-live.*
prototype/templates/*/article-serve.*
prototype/testdocs/
prototype/templates/*/*-pngs-r*/
